.card-body {
    background-color: rgb(183, 208, 245);
    box-shadow: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.card{
    width: 50%!important; 
    height: 15rem!important;
}


button {
    background: #f67b3e;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

@media (max-width:700px){
    .card{
        width: 100%!important;
    }
}